html {
    background-color: var(--bright);
}

body {
    background-color: inherit;
    font-family: Rubik;
    margin: 0;
    font-size: 14px;
}

.Screen {
    display: none;
}

.OwnMessage {
    float: right;
    background-color: var(--pink-light);
    padding: 10px;
    border-radius: 4px;
    color: var(--black);
}

.OtherMessage {
    float: left;
    background-color: var(--gray-light);
    padding: 10px;
    border-radius: 4px;
    color: var(--black);
}

.ChatTable {
    width: 100%;
}

.UsernameBox {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    min-width: 100px;
    padding: 30px;
    width: 50%;
    background-color: var(--darker);
    text-align: center;
    border-radius: 10px;
}

.UsernameInput {
    width: 100%;
    padding: 20px 0px;
    display: inline-block;
    border: 0px solid var(--pink);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--black);
    margin-left: auto;
    margin-right: auto;
    font-family: Rubik;
    background-color: var(--white);
    text-align: center;
    font-size: 1.2em;
}

.ChatInputArea {
    display: none;
    position: fixed;
    width: 100%;
    background-color: var(--darker);
    padding: 10px;
    bottom: 0;
    z-index: 10;
}

.ChatTextInputContainer {
    /*padding-right: 100px;*/
    margin-right: 20px;
}

.ChatTextInputTable {
    width: 100%;
}

.ChatTextInput {
    max-width: 100%;
    width: 100%;
    height: 5em;
    padding: 10px 10px;
    display: inline-block;
    border: 0px solid var(--pink);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--black);
    font-family: Rubik;
    background-color: var(--white);
    text-align: left;
    font-size: 1.2em;
    resize: none;
}

.SendButton {
    width: 100%;
    height: 4.58em;
    padding: 5px 5px;
    display: inline-block;
    border-radius: 4px;
    font-family: Rubik;
    color: var(--black);
    border: 0px solid black;
    background-color: var(--pink);
    font-size: 1.3em;
    margin-left: 5px;
}

    .SendButton:hover {
        background-color: var(--pink-light);
    }

    .SendButton:active {
        background-color: var(--red);
    }

input[type=text], select {
    width: 100%;
    padding: 20px 10px;
    display: inline-block;
    border: 0px solid var(--pink);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--black);
    margin-left: auto;
    margin-right: auto;
    font-family: Rubik;
    background-color: var(--white);
    text-align: left;
    font-size: 1.2em;
}

.Button {
    width: 100%;
    padding: 20px 20px;
    display: inline-block;
    border-radius: 4px;
    font-family: Rubik;
    color: var(--black);
    border: 0px solid black;
    background-color: var(--pink);
    font-size: 1.3em;
    margin-top: 10px;
}

    .Button:hover {
        background-color: var(--pink-light);
    }

    .Button:active {
        background-color: var(--red);
    }

.Tab {
    position: fixed;
    overflow: auto;
    white-space: nowrap;
    border: 0px solid var(--bright);
    background-color: var(--darker);
    color: var(--black);
    width: 100%;
}

.TabButton {
    background-color: inherit;
    border: 0px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.2em;
    font-family: inherit;
    color: var(--black);
}

    .TabButton:hover {
        background-color: var(--bright);
    }

    .TabButton:active {
        background-color: var(--bright);
    }

.ActiveTabButton {
    background-color: var(--bright);
    border: 0px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.2em;
    font-family: inherit;
    color: var(--black);
}

    .ActiveTabButton:hover {
        background-color: var(--bright);
    }

    .ActiveTabButton:active {
        background-color: var(--bright);
    }

.TabContent {
    display: none;
    padding: 60px 10px;
    border: 0px solid #ccc;
    border-top: none;
    animation: fadeIn 0.3s;
}

.UserList {
    border: 0px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

:root {
    --white: #f5f4ef;
    --bright: #EAE7DC;
    --darker: #D8C3A5;
    --black: #41403e;
    --gray: #8E8D8A;
    --gray-light: #b4b3b1;
    --pink: #E98074;
    --pink-light: #ea8b80;
    --red: #E85A4F;
}

@keyframes scaleUp {
    0% {
        font-size: 0%;
    }

    100% {
        font-size: 100%;
    }
}

@-webkit-keyframes scaleUp {
    0% {
        font-size: 0%;
    }

    100% {
        font-size: 100%;
    }
}

@-moz-keyframes scaleUp {
    0% {
        font-size: 0%;
    }

    100% {
        font-size: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7Fqj2md8WA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7F6iGmd8WA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    animation: fadeIn 1s linear forwards;
    animation-fill-mode: forwards;
}

.lds-grid-hidden {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

    .lds-grid div {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: var(--gray-light);
        animation: lds-grid 1.2s linear infinite;
    }

        .lds-grid div:nth-child(1) {
            top: 8px;
            left: 8px;
            animation-delay: 0s;
        }

        .lds-grid div:nth-child(2) {
            top: 8px;
            left: 30px;
            animation-delay: -0.4s;
        }

        .lds-grid div:nth-child(3) {
            top: 8px;
            left: 52px;
            animation-delay: -0.8s;
        }

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}
